# Lending Club Case Study
## Business Understanding
### Problem Statement

When the company receives a loan application, the company has to make a decision for loan approval based on the applicant’s profile. Two types of risks are associated with the bank’s decision:

1. If the applicant is likely to repay the loan, then not approving the loan results in a loss of business to the company

2. If the applicant is not likely to repay the loan, i.e. he/she is likely to default, then approving the loan may lead to a financial loss for the company

In [11]:
# importing all library used for this analysis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from datetime import datetime as dt
import seaborn as sns
sns.set()

In [15]:
# reading loan data as pandas dataframe
loan = pd.read_csv("loan.csv")
loan.head()

C:\Users\Varun\AppData\Local\Temp\ipykernel_41864\565447794.py:2: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  loan = pd.read_csv("loan.csv")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [16]:
loan.shape

(39717, 111)

In [13]:
#Check the datatypes of all the columns of the dataframe
loan.info()
loan.columns.values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m',
       'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths',
       'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats',
       'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'], dtype=object)

#### Missing Value Treatment

In [17]:
#Check the number of null values in the columns
loan.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

Since we have too many columns, lets find the percentage of missing data in each column and print columns which has more that 40 percent missing data

In [19]:
total_num = loan.isnull().sum().sort_values(ascending=False)
perc = loan.isnull().sum()/loan.isnull().count() *100

# Creating a data frame:
df_miss = pd.concat([total_num, perc], axis =1 , keys =["Total Missing Values", "Percentage %"]).sort_values(by ="Percentage %", ascending = False)

top_mis = df_miss[df_miss["Percentage %"]>40]
top_mis.reset_index(inplace=True)
top_mis

                             index  Total Missing Values  Percentage %
0        verification_status_joint                 39717    100.000000
1                    num_op_rev_tl                 39717    100.000000
2                total_bal_ex_mort                 39717    100.000000
3                  tot_hi_cred_lim                 39717    100.000000
4                 percent_bc_gt_75                 39717    100.000000
5                   pct_tl_nvr_dlq                 39717    100.000000
6               num_tl_op_past_12m                 39717    100.000000
7               num_tl_90g_dpd_24m                 39717    100.000000
8                     num_tl_30dpd                 39717    100.000000
9                 num_tl_120dpd_2m                 39717    100.000000
10                        num_sats                 39717    100.000000
11                   num_rev_accts                 39717    100.000000
12            mths_since_recent_bc                 39717    100.000000
13                       num_il_tl                 39717    100.000000
14             num_rev_tl_bal_gt_0                 39717    100.000000
15                       num_bc_tl                 39717    100.000000
16                     num_bc_sats                 39717    100.000000
17                 num_actv_rev_tl                 39717    100.000000
18                  num_actv_bc_tl                 39717    100.000000
19           num_accts_ever_120_pd                 39717    100.000000
20  mths_since_recent_revol_delinq                 39717    100.000000
21           mths_since_recent_inq                 39717    100.000000
22        mths_since_recent_bc_dlq                 39717    100.000000
23                       dti_joint                 39717    100.000000
24      total_il_high_credit_limit                 39717    100.000000
25     mths_since_last_major_derog                 39717    100.000000
26                  total_bc_limit                 39717    100.000000
27                        mort_acc                 39717    100.000000
28                annual_inc_joint                 39717    100.000000
29                      max_bal_bc                 39717    100.000000
30            mo_sin_old_rev_tl_op                 39717    100.000000
31              mo_sin_old_il_acct                 39717    100.000000
32                         bc_util                 39717    100.000000
33                  bc_open_to_buy                 39717    100.000000
34                     avg_cur_bal                 39717    100.000000
35            acc_open_past_24mths                 39717    100.000000
36                    inq_last_12m                 39717    100.000000
37                     total_cu_tl                 39717    100.000000
38                          inq_fi                 39717    100.000000
39                total_rev_hi_lim                 39717    100.000000
40                        all_util                 39717    100.000000
41                     open_rv_24m                 39717    100.000000
42                  mo_sin_rcnt_tl                 39717    100.000000
43                     open_rv_12m                 39717    100.000000
44                         il_util                 39717    100.000000
45                    total_bal_il                 39717    100.000000
46              mths_since_rcnt_il                 39717    100.000000
47                     open_il_24m                 39717    100.000000
48                     open_il_12m                 39717    100.000000
49                      open_il_6m                 39717    100.000000
50                     open_acc_6m                 39717    100.000000
51                     tot_cur_bal                 39717    100.000000
52                    tot_coll_amt                 39717    100.000000
53           mo_sin_rcnt_rev_tl_op                 39717    100.000000
54                    next_pymnt_d                 38577     97.129693
55          mths_since_last_record                 36931     92.985372
56          mths_since_last_delinq                 25682     64.662487

#### Handling Incorrect Data Types

In [7]:
#Check the datatypes of all the columns

#### Sanity Checks